/* CSS dokument */

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Lobster', cursive;
}

body h1
{
    padding: 20px;
    padding-left: 35px;
    font-size: 40px;
}

#searchInput .galleryBtn
{  
    font-size: 15px;
    padding: 10px;
    border-radius: 14px;
    cursor: pointer;
}

#searchPageGallery
{
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#searchPageGallery p
{
    display: inline;
    padding: 11px;
    font-size: 20px;
}

#searchForm
{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}

#searchForm input
{
    font-size: 20px;
    padding: 8px;
    border-radius: 18px;
}

#tags
{   
    border: solid 1px lightblue;
}

#searchBtn
{
   cursor: pointer;
}

#searchResult
{
    display: none;
    padding-left: 30px;
}

#bigPhoto
{
    display: none;
    position: absolute;
    width: 100vw;
    height: 88vh;
    background-color: #24467c;
}

#photoGallery
{
    display: none;
    padding: 3px 40px;
}

#prevBtn
{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border: none;
    cursor: pointer;
    padding: 0px 10px;
}

#pageNr
{
    font-size: 30px;
}

#nextBtn
{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border: none;
    cursor: pointer;
    padding: 0px 10px;
}

#tagsBtns
{
    padding: 10px;
    float: right;
    margin-right: 50px;
    
}

.resultBtns
{
    position: absolute;
    right: 5%;
    top: 5%;
   
}

.resultBtns button
{
    padding: 10px;
    border-radius: 14px;
    cursor: pointer;
}

.checkedPhoto
{
    box-shadow: 0px 0px 1px 2px lightblue;
}

.backSearchBtn
{
    
    padding: 10px;
    border-radius: 14px;
    cursor: pointer;
}

#closeBtn
{
    border-radius: 13px;
    position: absolute;
    right: 6vw;
    top: 10vh;
    border: none;
    background-color: lightgrey;
    padding: 6px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    cursor: pointer;
}

#largeImg
{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.photoGalleryPhoto
{
    margin: 5px;
    float: left;
    max-width: 110px;

}

.photoGalleryPhoto img
{
    max-width: 100%;
    height: auto;
}

.photoGalleryPhoto button
{
    margin-left: 4px;
    padding: 8px;
    border-radius: 13px;
}

#photoText
{
    padding-bottom: 30px;
}

#info
{
    text-align: right;
    margin-right: 60px;
    font-size: 14px;
    color: #6b706e;
}

#resultTags
{
    font-size: 22px;
}

.disablePrevBtn
{
    cursor: default;
}

.ablePrevBtn
{
    cursor: pointer;
}

.disableDisplay
{
    display: none !important;
}

.showDisplay
{
    display: block !important;
}

#NoPhotosp
{
    font-size: 30px;
    text-align: center;
    padding: 25px;
}

#flickrImg
{
    margin-right: 60px;
}

@media screen and (max-width: 750px)
{
    #searchForm
    {
        font-size: 23px;
    }

    #searchForm input 
    {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px)
{
    #searchForm
    {
        position: relative;
        padding: 10px 31px;
        font-size: 24px;
        top: 0%;
        left: 0;
        transform: none;
    }

    #searchForm input 
    {
        font-size: 18px;
    }

    #searchInput .galleryBtn 
    {
        font-size: 11px;
        padding: 7px;
    }

    #searchPageGallery
    {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        padding: 6px;
        left: 23%;
    }

    #searchPageGallery p 
    {
        padding: 7px;
        font-size: 15px;
    }
}

@media screen and (max-width: 565px)
{
    .resultBtns
    {
        position: relative;
        margin-left: 15px;
        margin-bottom: 25px;
    }

    .resultBtns button 
    {
        display: inline-block;
        position: relative;
    }

    #photoText 
    {
        padding-bottom: 10px;
    }

    #info 
    {
        text-align: left;
        padding-bottom: 18px;
    }
}

@media screen and (max-width: 430px)
{
    #searchForm
    {
        font-size: 20px;
    }

    #searchForm input {
        font-size: 12px;
    }
}